# Server
PORT=3000

# e.id
EID_BASE_URL=https://gateway.e.id
EID_CLIENT_ID=
EID_CLIENT_SECRET=
EID_VS_ID_WARGA=
EID_VS_ID_OTORITAS=

# Disqus
DISQUS_SHORTNAME=
DISQUS_PUBLIC_KEY=
DISQUS_SECRET_KEY=

# Administrator
ADMIN_INITIAL_USERNAME=
ADMIN_INITIAL_PASSWORD=
